:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    background-image: url('../assets/peakpx.jpg');
}

main {
    display: flex;
}

main>* {
    min-height: 100vh;
}

.left {
    background-color: red;
    min-width: 30vw;
}

.right {
    background-color: #f9fafb;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right>* {
    padding: 2rem 15rem 2rem 3rem;
}

.sign-up-cnt {
    background-color: white;
    box-shadow: 1.5px 1.5px 2px #dcdddd;
}

.sign-up-cnt h1 {
    padding-bottom: 1.5rem;
}

form.sign-up {
    display: grid;
    grid-template-columns: repeat(2, clamp(15.5rem, 27%, 25rem));
    column-gap: 1.5rem;
    row-gap: 1.25rem;
}

form.sign-up>* {
    display: flex;
    flex-direction: column;
}

form.sign-up input {
    width: clamp(15.5rem, 70%, 25rem);
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    outline-style: none;
    box-shadow: none;
    padding: 0.1em 0.8em;
}

form.sign-up input[type="password"]:invalid {
    border-color: #da5d4d;
}

form.sign-up input[type="password"]:focus {
    box-shadow: inset #ff0000;
}

form.sign-up input:focus {
    border: 1.8px solid #1e8cc7;
    box-shadow: inset #1e8cc7;
}

form.sign-up label {
    font-size: 0.8rem;
    color: #3e4652;
}

.create-account-cnt button {
    padding: 0.7rem 3.5rem;
    margin-bottom: 2rem;

    background-color: #596d48;
    border: 2px none;
    border-radius: 8px;
    outline-style: none;
    box-shadow: none;

    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: transform .2s;
}

.create-account-cnt button:hover {
    transform: scale(1.1);
}

.create-account-cnt p a {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}